*{
	margin: 0;
}	
	header{
	background-color: darkblue;
	color: white;
	min-height: 200px;
	border-top: 10px solid red;
	border-right: 20px dotted black;
	border-bottom: 10px solid pink;
	border-left: 20px solid darkcyan;
 /* border: 1opx solid red;*/
 	margin-bottom: 50px;
}
section{
	border: 5px solid black;
	padding: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 20px;

	padding: 20px 30px 10px 20px;
	padding: 20px 30px;
	padding: 20px 30px 10px;
}